* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
}

/* .grid-container {
    display: grid;
    grid-template-columns: 200px 1fr 300px;
    grid-template-rows: 100px 80px 245px 1fr 150px;
    gap: 1px 1px;
    grid-template-areas: "logo topbar account""logo container container""nav container container"". container container""logout container container";
}

.logo {
    grid-area: logo;
    font-size: 50px;
}

.topbar {
    grid-area: topbar;
    border:1px solid #000;
}

.account {
    grid-area: account;
    border:1px solid #000;
}

.nav {
    grid-area: nav;
    border:1px solid #000;
}

.logout {
    grid-area: logout;
    border:1px solid #000;
}

.container {
    grid-area: container;
    border:1px solid #000;
} */

/*-----------------------------ORDERS FORM------------------- */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 2px solid #f00;
  }